footer {
    padding-bottom: 30px;
    background-image: url('../../../assets/images/Back-gr.jpg');
    background-size: cover;
}

.list-social a {
    padding: 10px;
    cursor: pointer;
}

.footer-description {
    margin-top: 10px;
    margin-bottom: 10px;

}

.name-company {
    color: rgb(13, 110, 253);
    font-weight: 600;
}

.list2 a {
    margin-bottom: 10px;
}

a {
    cursor: pointer;
}