<footer>
  <div class="container-fluid">
    <div class="row w-100 justify-content-center align-items-center">
      <div class="row footer-description">
        <div class="col-md-6 text-center">
          <div class="list1">
            <br><br>
            <a href="">Liên hệ</a><br /><br />
            <a href="mailto:Zen_staff03@gmail.com"
              ><span>Email: Zen_staff03&#64;gmail.com</span></a
            ><br /><br />

            <a href=""> PHONE : 0987654321</a><br /><br /><br><br><br><br>
          </div>
          <p>&copy; 2024 Your Company. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-center">
          <div class="list2">
            <a href="">HOME</a><br /><br>
            <a href="">CHẤM CÔNG</a><br /><br>
            <a href="">BIỂU MẪU</a><br /><br>
            <a href="">LỊCH LÀM VIỆC</a><br /><br>
            <a href="">TIMESHEET</a><br /><br>
            <a href="">ĐÀO TẠO</a><br><br>
          </div>
          <p>Terms of Service | Privacy Policy</p>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <p class="name-company">Công ty TNHH STAFF ZEN</p>
        <div class="list-social">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
