.container-fluid {
  padding: 20px;
}

.news-title {
  text-align: center;
  margin-bottom: 80px;

}
h1 {
    display: inline-block; /* Hiển thị các tiêu đề như là phần tử inline-block */
    border-bottom: 5px solid #271d1d; /* Tạo gạch chân dưới cho tiêu đề */
    padding-bottom: 3px; /* Khoảng cách giữa gạch chân và nội dung */
    padding-top: 40px;
}
.news-items h3 {
    display: inline-block; /* Hiển thị các tiêu đề như là phần tử inline-block */
    border-bottom: 3px solid #271d1d; /* Tạo gạch chân dưới cho tiêu đề */
    padding-bottom: 3px; /* Khoảng cách giữa gạch chân và nội dung */
    
}
.news-item {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

// .news-container {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//     gap: 20px;
//   }
  
.col-md-6 {
    margin-bottom: 20px; /* Khoảng cách giữa hai cột */
}

.column-left {
    padding-right: 80px;
    padding-left: 80px;
}

.column-right {
    padding-left: 80px;
    padding-right: 80px;
}



.news-items {
    border: 1.5px solid #ccc; /* Tạo border cho ô tin tức */
    border-radius: 1rem;
    padding: 20px; /* Khoảng cách giữa border và nội dung trong ô tin tức */
    margin-bottom: 20px; /* Khoảng cách giữa các ô tin tức */
    height: 200px; /* Giới hạn độ cao của các ô tin tức */
    // overflow: hidden; /* Ẩn bớt nội dung dài */
}

.news-items h3 {
    margin-top: 0px;
    margin-bottom: 5px; /* Khoảng cách giữa tiêu đề và nội dung */
    font-weight: bold;
    // overflow: hidden; /* Ẩn bớt nội dung dài */
    // text-overflow: ellipsis; /* Hiển thị ... nếu nội dung quá dài */
    // white-space: nowrap; /* Ngăn ngừa quá trình ngắt dòng */
}

.news-items p {
    margin-bottom: 0px; /* Loại bỏ margin mặc định của thẻ p */
    overflow: hidden; /* Ẩn đi nội dung vượt quá kích thước */
    text-overflow: ellipsis; /* Hiển thị ... nếu nội dung quá dài */
    white-space: normal; /* Ngăn ngừa quá trình ngắt dòng */
    height: 120px; /* Giới hạn độ cao của phần nội dung */
    text-align: justify;
}


.carousel-item {
    height: 400px;
    margin-bottom: 40px;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pagination {
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

.pagination button {
    margin-left: 10px; /* Adjust the margin as needed */
    margin-right: 10px;
    border-radius: 0.3rem;
}
.training-videos {
    display: flex;
    // flex-wrap: nowrap; /* Không cho phép trình duyệt xuống dòng */
  }
  
  .video {
    flex: 0 0 auto; /* Cố định kích thước của các video */
    margin-right: 20px; /* Khoảng cách giữa các video */
  }