<app-header></app-header>
<div class="container">
    <div class="create-form">
        <button class="btn-create" (click)="navigateToOtherPage()" >Đăng kí</button>
      </div>
  <div class="title">
    DANH SÁCH NGÀY NGHỈ
  </div>
  
  <table class="custom-table">
    <thead>
      <tr>
        <th>id</th>
        <th>Username</th>
        <th>Thời gian</th>
        <th>Ngày</th>
        <th>Công việc</th>
        <th>Lý do</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaves">
        <td>{{ leave.id}}</td>
        <td>{{ leave.user.username}}</td>
        <td>{{ parseStringToDateTime(leave.fromDatetime) + "-" + parseStringToDateTime(leave.toDatetime)}}</td>
        <td>{{ parseStringToDate(leave.createAt)}}</td>
        <td>{{leave.comment}}</td>
        <td>{{leave.reason}}</td>
        <td>{{leave.status}}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }}/{{ getTotalPages() }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
  </div>
  
</div>
<app-footer></app-footer>
